.scroll-container {
    display: flex;
    flex-direction: row;
    
    justify-content: center;
    width: 100%;
    flex: 1;

    background-color: #070613;
    overflow-y: scroll;
}

.scroll-container::-webkit-scrollbar {
    display: none;
}

.color-bar-container {
    margin-left: 20px;
    margin-right: 20px;
}

.color-bar-left, .color-bar-right {
    width: 20px;
    margin: 20px 0px 20px 0px;
    border-radius: 3px;

    transition: 1s;
    transition-property: opacity transform;
}

.color-bar-left.hidden {
    opacity: 0;
    transform: translateX(-20px);
}

.color-bar-right.hidden {
    opacity: 0;
    transform: translateX(20px);
}